/*LIGHT MODE*/
:root {
    --bg-color: linear-gradient(90deg, #ddd, #f1f2f3);
    --header-color: #008081;
    --section-heading-color: #008081;
    --heading-text-shadow: 0 0 1px #444;
    --text-color: #3f3f3f;
    --border-color: #008081;
    --card-bg: ;
    --text-shadow: 1px 1px 2px #fff;
    --link-hover: #000;
    --btn-bg-color: linear-gradient(135deg, #6cc7c7, #008081);
    --btn-text-color: #fff;
}

/*DARK MODE*/
body.dark-mode {
    --bg-color: linear-gradient(90deg, #463e50, #5d4d6b);
    --header-color: #583660;
    --section-heading-color: #ddd;
    --heading-text-shadow: 1px 1px 2px #222;
    --text-color: #ddd;
    --border-color: #dab7e2;
    --card-bg: ;
    --text-shadow: 2px 2px 4px #222;
    --link-hover: #fff;
    --btn-bg-color: linear-gradient(135deg, #7a6080, #583660);
    --btn-text-color: #ddd;
}

/*-------------------------------------------------------------------*/

.container {
    width: 100vw;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    margin: 7px;
    width: 30vw;
    height: 65vh;
    display: flex;
    justify-self: center;
    border: 2px solid var(--border-color);
    border-radius: 5px;
}

/**----------Media Queries----------*/
@media (max-width: 768px) {
    .container {
        display: flex;
        flex-direction: column;
    }
    
    .card {
        width: 96vw;
        height: 20vh;
        display: flex;
    }
}