* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/*-------------------------------------------------------------------*/
/*LIGHT MODE*/
:root {
    --bg-color: linear-gradient(90deg, #ddd, #e6e7e8);
    --header-color: #008081;
    --heading-text-shadow: ;
    --text-color: #444;
    --border-color: #008081;
    --footer-bg: #008081;
}

/*DARK MODE*/
body.dark-mode {
    --bg-color: linear-gradient(90deg, #463e50, #5d4d6b);
    --header-color: #583660;
    --heading-text-shadow: ;
    --text-color: #ddd;
    --border-color: #dab7e2;
    --footer-bg: #583660;
}

/*-------------------------------------------------------------------*/
body {
    background: var(--bg-color);
}

/*---HEADER---*/
.header-div {
    height: 50px;
    background: var(--header-color);
    display: flex;
    justify-content: space-between;
}

.logo-div {
    margin: 2px;
    margin-left: 5px;
    display: flex;
    align-items: center;
}

.logo {
    color: #fff;
    text-shadow: 1px 1px 3px #232526;
}

/*-------------------------------------------------------------------*/
.header-nav {
    display: flex;
}

.navbar {
    display: flex;
    align-items: center;
}

.nav-list {
    display: flex;
    list-style: none;
    align-items: center;
    gap: 15px;
}

.nav-list.active {
    display: flex;
}

.nav-items a {
    text-decoration: none;
    color: #ddd;
    text-shadow: 1px 1px 2px #232526;
}

.nav-items a:hover {
    color: #fff;
}

.hamburger {
    display: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    user-select: none;
    outline: none;
}

.hamburger i {
    height: 100%;
    width: 100%;
    padding: 2px;
    color: #ddd;
    display: block;
    border-radius: 4px;
    font-size: 23px;
    text-shadow: 1px 1px 2px #232526;
}

/*-------------------------------------------------------------------*/
.btn-list {
    margin-left: 12px;
    margin-right: 3px;
    display: flex;
    align-items: center;
    list-style: none;
    gap: 12px;
}

.header-btn {
    height: 32px;
    width: 32px;
    border: none;
    background: transparent;
}

.header-btn i {
    font-size: 23px;
    color: #ddd;
    text-shadow: 1px 1px 2px #232526;
}

.header-btn i:hover {
    color: #fff;
    border: none;
}

/*-------------------------------------------------------------------*/
.footer {
    margin-top: 7px;
    padding: 17px;
    margin-bottom: 0;
    height: 16px;
    background: var(--footer-bg);
}

.footer p {
    font-size: 12px;
    text-align: center;
    color: #ddd;
}

/*-------------------------------------------------------------------*/
/*Media Queries*/
@media (max-width: 768px) {
    .nav-list {
        position: absolute;
        top: 52px;
        right: 5px;
        background-color: #f1f2f3;
        flex-direction: column;
        width: 130px;
        display: none;
        border: 1px solid black;
        border-radius: 2px;
        padding: 5px;
    }

    .nav-items {
        margin: 3px;
    }

    .nav-items a {
        text-shadow: none;
        color: #000;
    }

    .nav-items a:hover {
        color: #0298fd;
    }

    .hamburger {
        display: flex;
        flex-direction: column;
        gap: 4px;
        cursor: pointer;
    }

    .hamburger i:hover {
        color: #ffffff;
    }

}


